@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');

body {

    font-family: 'Cabin';
    background-color: #758190;
    width: auto;
    overflow-y: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 1rem;
}
  
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 2rem;
}
  
::-webkit-scrollbar-thumb {
    background: lightblue;
    border: 3px solid grey;
    border-radius: 2rem;
}

#tentacles {
    width: 50px;
}

.header {
    display: flex;
    background-color: lightblue;
    padding: 1%;
    align-items: center;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
    border-bottom: 2px solid black;
}

.stats-highlight-hover:hover{
    cursor: pointer;
    border-radius: 0.5rem;
    box-shadow: 0 0 30px lightblue;
}
.stats-container {
    display: flex;
    align-items: center;
}

.stats-card {
    background-color: #a8b0bc;
    border-radius: 7px;
    padding: 1%;
    margin: 1%;
    width: 100%;
    text-align: center;
}

#num-contributions, #total-raised, #num-games {
    font-size: 50px;
}

#games-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.game-img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px #FFFFFF;
}

.game-card {
    background-color: #FFFFFF;
    padding: 1%;
    margin: 1%;
    width: 300px;
    text-align: center;
    border-radius: 7px;
    border: 2px solid rgba(19, 19, 19, 0.685);
}

.game-card:hover {
    cursor: pointer;
    box-shadow: 0 0 30px lightblue;
}

#button-container {
    text-align: center;
}

.btn{
    font-family: 'Cabin';
    border: 2px solid transparent;
    padding: 1%;
    margin: 1%;
    border-radius: 0.5rem;
} 
.btn:hover{
    cursor: pointer;
    background-color: lightblue;
    border-color: grey;
}
.btn:active{
    position: relative;
    top: 1px;
    border-right-color: black;
    border-bottom-color: black;
    box-shadow: 2px 2px 0 0 black;
}